<!DOCTYPE html>
<html lang="ja">
<head>
  {{ template "google" }}
  {{ template "meta" }}
  <title>Apex Legendsポイント逆引き計算</title>
  <style>
    header {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid;
      width: 100%;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .left-align {
      width: 80%;
      display: flex;
      justify-content: flex-start;
    }

  </style>
</head>
<body class="container">
  <header>
    <h1>Apex逆引き計算</h1>
  </header>
  <hr>
  <p>ランクマッチであるポイントを得るために必要な順位とキル数をクラス別に計算するサイトです。</p>
 <div>
  <form action="/calc" method="POST">
    <p>I need <input type="number" name="point" placeholder="ポイントを入力してください"></p>
    <input type="submit">
  </form>
 </div>
</body>
</html>
