<!DOCTYPE html>
<html lang="ja">
<head>
  {{ template "google" }}
  {{ template "meta" }}
  <style> 
  #content-list {
    display: flex;
    justify-content: space-around;
  }
  #content-list>div {
    width: 40%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  </style>
  <title>Apexツール置き場</title>
</head>
<body>
  {{ template "title" }}
  <div class="section container">
    <p class="title is-1">コンテンツ</p>
    <hr>
    <div class="block" id="content-list">
      <div class="box">
        <a href="map">マップ解析</a>
      </div>
      <div class="box">
        <a href="calc">RP逆引き計算</a>
      </div>
    </div>
  </div>
</body>
</html>
