<!DOCTYPE html>
<html>
<head>
  {{ template "google" }}
  {{ template "meta" }}
  <title>Apexツール置き場</title>
  <style>
  #color-desc {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #6e42ff,  #ff1463);
  }
  </style>
</head>
<body class="container">
  {{ template "title" }}
  <div class="section container">
    <p class="title is-1">Apexエリア統計画像</p>
    <hr>
    <p class="title is-2">シーズン8スプリット2の第5収縮統計画像</p>
    <img src="https://mapanalyze.s3-ap-northeast-1.amazonaws.com/latest.jpg" alt="統計画像">
    <div id="color-desc">
      <div class="left">低</div>
      <div class="right">高</div>
    </div>
    <p>機械的に集計しているので、誤検出、未検出が発生している可能性があります</p>
  </div>
  <div class="section container">
    <p class="title is-2">集計方法</a>
    <p>第5ラウンドのマップのスクリーンショットを、#apex_mapとハッシュタグをつけてtwitterに投稿することで集計に参加することができます。</p>
    <p>1,920×1,080の画像のみ受け付けます。</p>
  </div>
</body>
</html>
